<nz-layout>
    <nz-header style="background-color:#fff; text-align:center;">
      <h2>flowchart</h2>
    </nz-header>
    <nz-layout>
      <nz-sider>
        <div class="function" *ngFor="let function of functionList" [dndDraggable]="function"
           [dndEffectAllowed]="'all'">{{function}}</div>
      </nz-sider>
      <nz-content>
        <div id="diagramContainer" dndDropzone (dndDrop)="onDrop($event)" style="height: 100%;width: 100%;">
          <ng-container *ngFor="let item of dropItems">
            <div class="drop-items" id = "{{item.data}}" [ngStyle]="{'left': item.event.offsetX + 'px', 'top': item.event.offsetY + 'px'}">
              <p>{{item.data}}</p>
              <div class="content">
                1231231
              </div>
              <i nz-icon type="delete" theme="outline"></i>
            </div>
          </ng-container>
          
        </div>
      </nz-content>
    </nz-layout>
    <nz-footer>Footer</nz-footer>
  </nz-layout>